<div class="col">
  <br />
  <h2>Check Reservation Availability</h2>
  <br />
</div>
<div class="col">
  <h5>Select boat type</h5>

  <select [disabled]="disableType" id="boatType">
    <option value="Row">Row</option>
    <option value="Electrical">Electrical</option>
  </select>
  <br />
  <br />
  <br />
  <h5>Number of Person</h5>
  <input [disabled]="disableNumber" id="NumOfPersons" />
  <br />
</div>
<div class="col" *ngIf="showStartTime">
  <br />
  <h5>start time</h5>
  <input
    id="DT1"
    [min]="min"
    [owlDateTime]="dt1"
    [owlDateTimeTrigger]="dt1"
    placeholder="Date Time"
  />
  <owl-date-time #dt1></owl-date-time>
  <br />
  <br />
  <button (click)="setStartTime()" class="btn btn-danger">
    Choose Start Time
  </button>
</div>

<br />
<div class="col" *ngIf="showEndTime">
  <h5>end time</h5>
  <input
    id="DT2"
    [min]="min1"
    [max]="max"
    [owlDateTime]="dt2"
    [owlDateTimeTrigger]="dt2"
    placeholder="Date Time"
  />
  <owl-date-time [startAt]="startAt" #dt2></owl-date-time>
  <br />
  <br />
  <button (click)="setEndTime()" type="submit" class="btn btn-danger">
    Choose End Time
  </button>
  <br />
  <br />
</div>
<div class="col">
  <button
    *ngIf="showAva"
    (click)="CheckAva()"
    type="submit"
    class="btn btn-danger"
  >
    Check Availability
  </button>
  <br />
</div>
<br />
<div class="col">
  <br />
  <div class="col" *ngIf="showGuestInformaiton">
    <h2>Add Guest Information</h2>
    <div class="container">
      <form [formGroup]="newForm2" (submit)="onFormSubmit()">
        <div class="form-group">
          <label>Name*</label>
          <input
            placeholder="Name"
            class="form-control"
            type="text"
            formControlName="name"
          />
        </div>
        <div class="form-group">
          <label>ID Type*</label>
          <input
            placeholder="ID Type"
            class="form-control"
            type="text"
            formControlName="idType"
          />
        </div>
        <div class="form-group">
          <label>ID Number*</label>
          <input
            placeholder="ID Number"
            class="form-control"
            type="number"
            formControlName="idNumber"
          />
        </div>
        <div class="form-group">
          <label>Mobile Number*</label>
          <input
            placeholder="Mobile Number"
            class="form-control"
            type="number"
            formControlName="mobileNumber"
          />
        </div>
        <br />

        <button
          type="submit"
          class="btn btn-danger"
          [disabled]="newForm2?.invalid"
        >
          Make Reservation
        </button>
      </form>
      <br />
    </div>
  </div>
</div>

<div class="col">
  <h2>Start trip</h2>
  <label> Select Reservation </label>
  <br />
  <select>
    <option id="startTrip" *ngFor="let trip of trips" value="{{ trip.id }}"
      >{{ trip.guest.name }} {{ trip.startDate.toString().substring(11, 16) }}
    </option>
  </select>
  <br />
  <br />
  <button (click)="startTrip()" type="submit" class="btn btn-danger">
    Start Trip
  </button>
  <br />
  <br />
</div>
<div class="col">
  <h2>Stop trip</h2>
  <label> Select Boat Number</label>
  <br />
  <select id="boatNumber">
    <option *ngFor="let boat of boats" [ngValue]="boat.boatNumber">{{
      boat.boatNumber
    }}</option>
  </select>
  <br />
  <br />

  <button (click)="stopTrip()" type="submit" class="btn btn-danger">
    Stop Trip
  </button>
</div>
<br />
